<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AbsoluteTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4452E7791D5D73880062F439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4452E7921D5D73890062F439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4452E79D1D5D73890062F439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
